# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86


#include <stdio.h>
int main () {
	
	int ucret;
	printf("Ucret Giriniz: ");
	
	scanf("%d",&ucret);
	

	int kdv;
	kdv=18;
	
	
	
	
	int vergitutari;
	vergitutari= ucret*18/100;
	printf("Vergi Tutari (TL) :");
	printf("%d",vergitutari);
	

	
	
}

*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
